---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
const pageTitle = "Tech Blog | Chirag Gulati";
const description = "Welcome to my blog, where I share my passion for Backend development, DevSecOps, cloud security, and the latest technology trends.";
const ogimage ={
    url: "/images/portfolio.webp",
    alt: "Tech blog by Chirag Gulati - Backend development, DevSecOps, and cloud security insights."
};
---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <Hero />
    <Tags />
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

</Layout>
